.intro-container {
  display: grid;
  grid-template-areas:
    "top-space"
    "header"
    "subheader"
    "middle-space"
    "byline"
    "bottom-space";
  grid-template-columns: 100%;
  grid-template-rows: 20% 15% 10% 30% 10% auto;
}

.intro-header {
  align-self: center;
  grid-area: header;
  font-size: 10vh;
}

.intro-subheader {
  align-self: center;
  font-size: 8vh;
  grid-area: subheader;
}

.byline {
  align-self: center;
  font-size: 6vh;
  grid-area: byline;
}
