.requirements-container {
  display: grid;
  grid-template-areas:
    "requirements-header tdd-way-header"
    "bullets red-light"
    "bullets green-light"
    "bullets refactor";
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% auto auto auto;
}

.requirements-header {
  border-right: 5px solid black;
  font-size: 8vh;
  grid-area: requirements-header;
}

.bullets {
  border-right: 5px solid black;
  font-size: 3vh;
  grid-area: bullets;
  text-align: left;
}

.bullet {
  font-size: 5vh;
  margin-left: 2vh;
}

.code-div {
  margin-bottom: 5vh;
  margin-top: 1vh;
}

.code-span {
  background-color: black;
  border-radius: 5px;
  color: #39cc39;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 8px 20px;
}

.tdd-way-header {
  font-size: 8vh;
  grid-area: tdd-way-header;
}

.red-light {
  grid-area: red-light;
  background-color: red;
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  justify-self: center;
  margin-top: 3vh;
}

.green-light {
  grid-area: green-light;
  background-color: green;
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  justify-self: center;
  margin-top: 3vh;
}

.refactor {
  grid-area: refactor;
  font-size: 8vh;
}
