body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
}

.container {
  height: 100vh;
  text-align: center;
}

.navigation-menu {
  align-self: center;
  /* have a font size? */
  grid-column-start: footer-start;
  grid-column-end: footer-end;
  grid-row-start: footer-start;
  grid-row-end: footer-end;
}
